<div class="container-fluid p-0 d-flex">

    <div class="main-content-left">
      <div class="logo-header"> <img class="main" src="assets/logo.png" alt="" width="132" height="34" ></div>
      <h1 class="text-header">Lorem ipsum dolor sit amet</h1>
      <p class="text-paragraph">
        consectetur adipiscing elit, sed do eius mod tempor incididunt ut labore
        et dolo re magna aliqua onsectetur adipiscing elit, sed do eius mod tempor incid.
      </p>
    </div>
 
    <div class="main-content-right" style="width: 30%;padding: 3rem;background-color: #f8f9fa; ">
      <h2 class="h4">News & blog</h2>
      <ul class="list-unstyled mt-4">
        <li class="mb-3">
          <a href="#" class="text-dark font-weight-bold">KiwiSaver HomeStart grant explained</a> <span class="ml-2">&#9654;</span>
        </li>
        <li class="mb-3">
          <a href="#" class="text-dark font-weight-bold">What's happening in the property market?</a> <span class="ml-2">&#9654;</span>
        </li>
        <li class="mb-3">
          <a href="#" class="text-dark font-weight-bold">Trust law reform</a> <span class="ml-2">&#9654;</span>
        </li>
        <li class="mb-3">
          <a href="#" class="text-dark font-weight-bold">Tax update - Simplification of taxes, foreign...</a> <span class="ml-2">&#9654;</span>
        </li>
        <li class="mb-3">
          <a href="#" class="text-dark font-weight-bold">What do the new lending rules mean?</a> <span class="ml-2">&#9654;</span>
        </li>
        <li class="mb-3">
          <a href="#" class="text-dark font-weight-bold">How will the Reserve Bank respond to...</a> <span class="ml-2">&#9654;</span>
        </li>
      </ul>
    </div>
  </div>
  