.main-content-left {
    background-color: #01bce7;;
    color: white; 
    padding: 3rem; 
    flex-grow: 1; 
}

.logo-header{
    font-size: 2.5rem; 
    font-weight: bold;
}

.text-header {
    font-size: 3rem; 
    margin-top: 1.5rem;
}

.text-paragraph{
    font-size: 1.25rem; 
    font-weight: 300;   
    margin-top: 1rem; 
}